.masked-holorays {
  position: absolute;
  bottom: 82px;
  left: 115px;;
  width: 400px;
  height: 420px;
  z-index: 0;
  border: 1px solid rgb(0, 255, 0);

  mask-image: url('../../assets/imgs/holo-rays.png');  /* Adjust the path as needed */
  mask-size: contain;
  mask-position: center ;
  mask-repeat: no-repeat;
  mask-size: 100%;

  background: linear-gradient(to bottom, rgba(146, 244, 211, 0.853),rgba(149, 243, 213, 0.256), rgba(94, 182, 225, 0.771),rgba(149, 243, 213, 0.256),rgba(146, 244, 211, 0.853));
  background-size: 100% 200px;
  animation: holo-wave 2s infinite linear;
}

@keyframes holo-wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -200px; 
  }
}

#holoBox {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.video-container {
  width: 500px;
  position:relative;
  margin-bottom: -75px;
  margin-left: -100px;
  z-index: 1;
}

.video-container video {
  box-shadow: 0 0 30px 5px rgba(35, 162, 201, 0.543);
}

.future-video {
  margin: 0 0 10px 115px;
  padding-bottom: 130px;
  opacity: .8;
  z-index: 999;
}

.solid-ray-background {
  position: absolute;
  margin: 0 0 10px 115px;

  clip-path: polygon(100% 0, 100% 85%, 65% 100%, 36% 100%, 0 85%, 0 0);
  background: linear-gradient(to bottom, rgba(146, 244, 211, 0.853),rgba(157, 243, 216, 0.256), rgba(114, 186, 222, 0.771),rgba(149, 243, 213, 0.256),rgba(146, 244, 211, 0.853));
  background-size: 100% 200px;
  width: 400px;
  height: 330px;
  opacity: .5;
  z-index: 0;
}

.holoBox-light {
  position: absolute;
  bottom: 40px;
  left: 200px;

  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.7);
  box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.7);
  background-size: 100% 200px;
  
  animation: blink 2s infinite linear;
}

@keyframes blink {
  0%, 80%, 100% {
    box-shadow: none;
    background: rgba(255, 0, 0, 0.5)
  }
  40% {
    box-shadow: none;
    background: rgba(255, 0, 0, 0.1)
  }
  50% {
    box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.7);
    background: rgba(255, 0, 0, 0.7);
  }
}

.holoBox-slit {
  position: absolute;
  left: 260px;
  bottom: 30px;

  height: 10px;
  width: 100px;

  background: rgba(65, 65, 65, 0.74);
  border-bottom: 2px solid rgba(0, 0, 0, 0.809);
  border-left: 2px solid rgba(0, 0, 0, 0.829);
  border-top: 1px solid rgba(0, 0, 0, 0.479);
  border-right: 1px solid rgba(0, 0, 0, 0.471);
}