
.footer {
  height: 200px;
}

.regular-footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  overflow: hidden;

  height: 500px;
  width: 100vw;
  background-color: color-mix(in srgb, var(--color-background-dark) 80%, transparent 50%);
  
  .walking-image-container {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;

    margin: auto;
    margin-top: 40px;
    padding-top: 100px;
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
  }
  
  .quote h3 {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    color: var(--color-cyan-dark)
  }

  .heads {
    position: absolute;
    top: 0;
  }
  
  .walking-head {
    /* position: absolute; */
    padding: 10px 10px 50px 10px;
  }
  .follower:hover{
    opacity: .8;
    scale: 1.1
  }

  .walking-image-container:hover .one {
    animation: bobHeads 1s ease-in-out .4s infinite ;
  }

  .walking-image-container:hover .two {
    animation: bobHeads 1s ease-in-out .2s infinite ;
  }

  .walking-image-container:hover .three
   {
    animation: bobHeads 1s ease-in-out infinite ;
  }

  .one {
    /* margin: 0 0 10px 70px; */
    translate: -70px -10px;
  }
  .two {
    translate: -25px -20px;
  }
  .three {
    translate: 35px -20px;
  }
  .zero {
    width: 100px;
    transform: rotate(40deg);
    
  }
}

@keyframes bobHeads {
  0% { transform: translateY(0);}
  50% {transform: translateY(-10px);}
  75%{transform: translateY(10px);}
  100%{transform: translateY(0);}
}
/* @keyframes bobHeads {
  0% { translate: 0 0;}
  50% {translate: 0 -10px;}
  75%{translate: 0 10px;}
  100%{translate: 0 0;}
} */


















 /**************table footer*****************/
.cube-container {
  width: 100;
  height: 200px;
  perspective: none;
}

.cube {
  position: relative;
  width: 100%;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotate3d(1,1,0,-10deg) rotate3d(0,1,0, 3deg) translateX(-100px);
  transition: 1s;
  z-index: -999;
}

.face {
  width: 2500px; /*normal 1400px*/
  height: 100px;
  background: var(--color-background-dark);
  border: 4px solid var(--color-body-dark);
  position: absolute;
  bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.front {
  transform: rotateY(-90deg) translateX(500px) rotateY(90deg);;
  background: #756147;
}
.back {
  transform: rotateY(90deg) translateX(500px) rotateY(-90deg);
}
.left {
  transform: translateX(-50%) rotateY(-90deg);
  max-width: 1000px;
  min-width: 1000px;
}

.right {
  transform: translateX(90%) rotateY(90deg) ;
  transition: 1s;
  width: 1000px;
  background: #635037;
}
.top {
  transform: translateY(40%) rotateX(90deg);
   /* Adjust height as needed */
  background: #977955;
  height: 1000px;
}

@media all and (max-width: 700px) {
  .regular-footer {
    height: 400px;
  }

  .regular-footer .walking-image-container {
    margin-top: 0;
    padding-top: 0;
  }

  .regular-footer .one {
    scale: 80%;
    translate: 10px -5px;
    animation: bobHeads 1s ease-in-out .4s infinite
  }
  .regular-footer .two {
    scale: 80%;
    translate: 5px -15px;
    animation: bobHeads 1s ease-in-out .2s infinite
  }
  .regular-footer .three {
    scale: 80%;
    translate: 5px -15px;
    animation: bobHeads 1s ease-in-out infinite;
  }
  .regular-footer .zero {
    translate: -75px 10px;
    scale: 80%;
  }
  .walkingImg {
    transform: scale(.6);
    translate: 0 40px;
  }

  .walking-image-container:hover .three,
  .walking-image-container:hover .two,
  .walking-image-container:hover .one
  {
    animation: bobHeads 1s ease-in-out infinite ;
  }
}







