* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #F9F1DB;
  --color-background-dark: #C2AD8C;
  --color-body: #5F4B32;
  --color-body-dark: #5F4B32;
  --color-orange-light: #FF9447;
  --color-orange-dark:  #E05E00;
  --color-cyan-light: #8BBBB8;
  --color-cyan-dark: #4D7C80;
}

body {
  background-color: var(--color-background);
}

p {
  color: var(--color-body)
}

button {
  border: none;
  outline: none;
  padding: 5px;
}
button.hover, a.hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  list-style: none;
  color: var(--color-body);
}